@use "/node_modules/bootstrap/scss/bootstrap.scss";
@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Abril Fatface", cursive;
  font-family: "Roboto", sans-serif;
}

a {
  color: $barb-shp-text-btn;
  text-decoration: none;
  border: 2px solid $barb-shp-text-btn;
  padding: 6px 17px 6px 17px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
}
.font_family {
  font-family: "Abril Fatface", cursive;
}
span {
  color: $barb-shop-text;
  font-weight: 100;
}
p,
span {
  font-size: 12px;
}
p {
  color: $barb-shop-text;
  font-weight: 300;
}
header {
  background-image: url(../assets/img/avadabarbers-homepage-hero-bg.jpg);
  background-position: center;
  background-size: cover;

  h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    color: $barb-shop-primary;
  }
  h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: $barb-shp-text-btn;
    margin-top: 20px;
  }

  .icon {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  .icon_sale {
    font-size: 12px;
    color: $barb-shop-text;
  }
  .icon_sold {
    top: 10px;
    left: -5px;
  }
  .square_offcanvas {
    position: absolute;
    left: 88%;
    top: 10%;
  }
}
main {
  h3 {
    font-size: 20px;
    font-family: "Abril Fatface", cursive;
    color: $barb-shp-text-btn;
    text-align: center;
  }
  span {
    color: $barb-shp-text-btn;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  h2 {
    font-size: 35px;
    font-family: "Abril Fatface", cursive;
    color: $barb-shop-text;
  }

  .pro_barbers {
    background-image: url(../assets/img/avadabarbers-about-introbackground.jpg);
    background-position: top;
    background-size: cover;
    padding: 70px;
    padding-bottom: 110px;
  }

  .service {
    padding-bottom: 80px;

    img {
      width: 70px;
      height: 90px;
    }
  }
  .products {
    background-image: url(../assets/img/avadabarbers-reviewsbackground.jpg);
    background-size: cover;
    span {
      text-align: center;
    }
  }
  .shaving {
    :first-child div {
      border-top: 2px solid $barb-shp-text-btn;
      margin-top: -25px;
    }
    .shaving_img {
      background-image: url(../assets/img/avadabarbers-cta-background.jpg);
      background-size: cover;
      width: fit-content;
    }
    .bg_shaving {
      background-color: #121315;
    }
  }
  .reviews {
    .square {
      width: 90px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    span {
      text-transform: capitalize;
    }
  }
  .blog {
    background-color: $barb-shop-primary;
    img {
      width: 100%;
    }
  }
}
